.banner {
  text-align: right;
  img {
    margin: 20px 0px;
    margin-bottom: 100px;
    width: 100%;
    @include breakpoint(m) {
      width: 70%;
    }
  }
}

.banner-title {
  text-align: left;
}
.banner2 {
  text-align: left;
  margin-top: 50px;

  margin-left: 5%;
  img {
    width: 100%;
    @include breakpoint(m) {
      width: 60%;
    }
  }
}

.box-banner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: auto;

  &__right {
    svg {
    }
  }
  p {
    font-family: "Raleway", sans-serif;
    color: map-get($colors, blue-dark);
    font-size: 1.3rem;
  }
}

.box-left {
  margin: 100px auto;
  display: flex;
  flex-direction: column-reverse;
  font-family: "Raleway", sans-serif;
  @include breakpoint(s) {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  @include breakpoint(xl) {
    width: 95%;
  }

  img {
    flex: 0 0 50%;
    width: 400px;
    @include breakpoint(m) {
      width: unset;
    }
  }
  a {
    color: map-get($colors, grey);
    text-decoration: none;
  }
  svg {
    margin-left: 10px;
  }
}

.box-left2 {
  margin: 100px auto;
  display: flex;
  flex-direction: column;

  font-family: "Raleway", sans-serif;
  @include breakpoint(s) {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  @include breakpoint(xl) {
    width: 95%;
  }

  img {
    flex: 0 0 50%;
    width: 400px;
    @include breakpoint(m) {
      width: unset;
    }
  }
  a {
    text-decoration: none;
    color: map-get($colors, grey);
  }
  svg {
    margin-left: 10px;
  }
}

.box-desc {
  flex: 0 0 30%;
  p {
    font-size: 0.8rem;
  }
}

.box-desc2 {
  flex: 0 0 30%;
  @include breakpoint(s) {
    margin-left: 100px;
  }
  p {
    font-size: 0.8rem;
  }
}

.date {
  font-size: 0.8rem;
  font-family: Avenir;
}

.tarif {
  font-size: 0.8rem;
  font-family: Avenir;
}

.programme {
  text-align: center;
  img {
    margin: auto;
    width: 400px;
  }
  a {
    text-decoration: none;
  }
}

.landing {
  position: fixed;
  overflow: hidden;
  top: 0px;
  text-align: center;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background: map-get($colors, blue-dark);
  top: 0px;
  display: block;
}

.landing__content {
  width: 350px;
  margin: auto;
  margin-top: 40%;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;

  z-index: 5;
  @include breakpoint(m) {
    margin-top: 20%;
  }
}

.text {
  font-family: "Raleway", sans-serif;
  text-align: justify;
  margin: 70px 0px;
  @include breakpoint(m) {
    width: 70%;
    margin: 100px 20px;
  }
  p {
    font-family: Avenir;
    font-size: 0.9rem;
  }
}

.pictures {
  width: 100%;
  @include breakpoint(m) {
    margin-left: 1%;
    width: 60%;
    :nth-child(even) {
      margin-left: 65%;
      width: 100%;
    }
  }
}

.contact {
  background-image: url(../images/backgroundblue2.jpg);
  width: 95%;
  margin: auto;
  min-height: 300px;
  color: white;
  padding: 30px;
  p {
    font-size: 1.2;
    font-family: avenir;
  }
  @include breakpoint(m) {
    width: 80%;
    padding: 50px;
  }
}

.link {
  margin: auto;
  width: 300px;

  a {
    text-decoration: none;
    color: map-get($colors, blue-light);
    font-family: "Raleway", sans-serif;
  }
  &:hover {
    font-weight: 500;
  }
}

.tarifs {
  font-family: avenir;
  font-size: 0.9rem;
  margin-left: 5%;
}

.s-pic:hover {
  transform: scale(0.99);
  opacity: 0.8;
}

.menu {
  background: map-get($colors, blue-dark);
  color: white;
  z-index: 300;
  top: -0px;
  padding: 50px 20px;
  font-weight: 200;
  position: absolute;
  height: 100vh;
  width: 200px;
  transition: right 0.5s ease-out;
  font-family: Raleway;
}

.ppetit p {
  font-size: 0.3rem;
  padding: 0px 10px;
  font-weight: 100;
}

.menu p {
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: Raleway;
}

.menu p:hover {
  font-weight: 700;
  cursor: pointer;
}
.menu a {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
}

.menu a:hover {
  font-weight: 900;
  cursor: pointer;
  transition: all 1s ease-out;
}

.menuSmall {
  width: 50px;
  color: black;

  margin: 5%;
  transition: right 2s ease-out;
  visibility: hidden;
  position: absolute;
  top: 10px;
  right: -10px;
  &:hover {
    cursor: pointer;
  }
  @include breakpoint(s) {
    top: 0px;
  }
}

@media (max-width: 1300px) {
  .menuSmall {
    visibility: visible;
  }
}

.menu-svg {
  transition: right 2s ease-out;
  &:hover {
    cursor: pointer;
  }
}

.menu-svg:hover .line {
  height: 2;
}

.line {
  position: absolute;
  width: 30px;
}

.line2 {
  top: 10px;
}

.line3 {
  top: 20px;
}

.menu-svg {
  position: relative;

  margin-right: -20px;
  width: 50px;
  height: 50px;
}

svg#cross:hover {
  width: 32px;
  height: 32px;
}
svg#svg {
  width: 50px;
  height: 100px;
  margin-right: 10px;
}

svg#svg:hover > #line1 {
  color: red;
  transition: all 0.5s ease-out;
}

.menuSmall:hover {
  cursor: pointer;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.5rem;
  padding: 10px 10px;
  font-weight: 100;
  margin-right: 10px;
  margin-top: 0px;
}

.close:hover {
  cursor: pointer;
}

.Fa {
  padding: 10px;
}
